*{margin: 0px; padding: 0px;}

.mainbody{height: 1000px; width: 80%; background: white; margin: 10px 10%;}
.header{height: 200px; width: 100%; background: green; text-align: center;  margin: 10px;}
.menu{height: 100px; width: 100%; background: red; text-align: center;   margin: 10px;}
.center{height: 600px; width: 100%; background: purple; text-align: center;   margin: 10px;}
.footer{height: 100px; width: 100%; background: orange; text-align: center;  margin: 10px;}




